body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
main{
    width: 35%;
    border: 3px solid black;
    padding: 40px;
}
hr{
    margin-top: 5vh;
}
h1{
    font-size: 40px;
}
.subHeading{
    color: rgb(6, 192, 6);
}
.intel{
    color: rgb(0, 140, 255);
}